
  @media (min-width: 1200px) {
   .container {
      max-width: 960px;
    }
  }
  li{
    list-style-type: none;
  }
li a{
  font-weight: 600;
  color: black;
  display: block;
  margin-right: 20px;
  font-size: 30px;
 
}
a{
  text-decoration: none;
}
.logo{
  display: block;
  width: 150px;
}
.border-bottom{
  border-bottom: 5px solid #dee2e6!important;
  margin-bottom: 1px;
}
#header{
  margin-bottom: 20px;
  border-bottom: 10px solid #dee2e6;
}
.title-main{
  font-size: 40px;
  font-weight: 600;

}
.title-phu{
  font-size: 20px;
  font-weight: 400;
}
.menu-between{
  display: flex;
  justify-content: center;
}
.menu-between .box{
  padding: 40px;
  text-align: center;
  width: 250px;
}
.menu-between .box a{
  display: block;
}
#footer{
  display: flex;
  background-color: black;
  justify-content: space-between;
}
.menu-footer{
  margin-right: 350px;
  display: flex;
  justify-content: center;
}
.menu-footer .box{
  width: 100px;
  background-color: black;
  margin-right: 45px;
}
.menu-footer .box a{
  color: white  ;
}